body {
	color: #fff;
	background-color: #333;
}

html, body { overflow: hidden; height: 100% }
body { margin:0; padding:0; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.header {
	background-image: none;
}

#map-canvas {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	color: #000;
	z-index: 2;
}

.header .title {
	position:absolute;
	top: 0;
	left: 0;
	width: 60%;
	margin: 0 20%;
	padding: 5px;
	z-index: 1;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
}

.header .title h1 {
    margin: 0;
    font-size: 20px;
    margin: 5px;
}

.header .title h2 {
    margin: 0px;
    font-size: 14px;
}

.header .legend {
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 3;
	font-size: 12px;
	background-color:rgba(0, 0, 0, 0.5);
	width: 100%;
	
}
.header .legend > div { padding: 5px; }

.header .logo {
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 10px;
}

#places {
	padding: 50px 0;
	background-color: white;
	color:#333;
}

#sidebar-wrapper {
	background: white;
	color: #222;
	border-left: 1px solid #222;	
}

#sidebar-wrapper a {
	color: #222;
}

#sidebar-wrapper a:hover {
	color: #999;
}

#menu-toggle {
	z-index: 10;
}

#sidebar-wrapper .brand {
    padding: 0 10px 10px;
    text-align: right;
}

#sidebar-wrapper .footer {
	position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
}

#sidebar-wrapper .footer .img_codeforcuritiba { width: 170px; }

#sidebar-wrapper .footer .img_urbs {
    width: 50px;
    margin: 0 10px;
}

#sidebar-wrapper .footer table {
	width: 100%;
}

@media(min-width:768px) {
	.header { width: 70%; }
	.header .legend {
		text-align: center;
		width: auto;
	}
	.header .legend span { display: none; }

	#sidebar-wrapper.active, #sidebar-wrapper {
		margin-right: 0;
		width: 30%;
		right: 0;
	}

	#menu-close { display:none; }

	#sidebar-wrapper .brand {
		font-size: 1.2em;
	}	
}

@media(min-width:1024px) {
}

li {
	list-style: none;
}