body {
	color: #fff;
	background-color: #333;
}
.header {
	background-image: none;
	height: auto;
}

#map-canvas { height:300px; color: #333; }

#places {
	padding: 50px 0;
	background-color: white;
	color:#333;
}


@media(min-width:768px) {
	.header { height: 100%; }
	#map-canvas { height: 50%; }
}

@media(min-width:1024px) {
#map-canvas { width:1024px; margin: auto;}
header .row { width:1024px; margin: auto;}
}

li {
	list-style: none;
}